[submodule "modules/drowaudio"]
	path = modules/dRowAudio
	url = git@github.com:FigBug/drowaudio.git
[submodule "modules/gin"]
	path = modules/gin
	url = git@github.com:FigBug/Gin.git
[submodule "modules/juce"]
	path = modules/juce
	url = git@github.com:WeAreROLI/JUCE.git
