[submodule "modules/drowaudio"]
	path = modules/dRowAudio
	url = https://github.com/FigBug/drowaudio.git
[submodule "modules/gin"]
	path = modules/gin
	url = https://github.com/FigBug/Gin.git
[submodule "modules/juce"]
	path = modules/juce
	url = https://github.com/WeAreROLI/JUCE.git
[submodule "modules/plugin_sdk"]
	path = modules/plugin_sdk
	url = https://github.com/TurnipHat/plugin_sdk.git
