<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PAPU - AU.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PAPU - All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PAPU - Shared Code.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>PAPU - VST.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0E3A0B52C561ECE6208D0D38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25220F44A4E6E1F934B7C1EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E278CB1AD4A3EF88176784B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F70B106B45672147D9958AC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
