name: Build Windows
on:
  push:
    branches:
      - master
      - 'feature/*'
    tags:
      - 'v*'
jobs:
  build:
    name: Build Windows
    runs-on: windows-latest
    steps:
      - name: Fix up git URLs
        run: echo -e '[url "https://github.com/"]\n  insteadOf = "git@github.com:"' >> ~/.gitconfig
        shell: bash
      - uses: actions/checkout@v1
        with:
          submodules: true
      - name: "Run script"
        run: |
          export OS="win"
          ./ci/build.sh
        shell: bash
        env:
          APIKEY: ${{ secrets.APIKEY }}
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: PAPU_Windows
          path: ci/bin/*.zip
          retention-days: 30
      - name: Upload to GitHub Release
        if: startsWith(github.ref, 'refs/tags/v')
        uses: softprops/action-gh-release@v1
        with:
          files: ci/bin/*.zip
